<h3 class="w3-padding-bottom">Players</h3>

<div ng-controller="PlayersController">
   <form class="w3-padding-bottom w3-form" name="playersForm">
   <div class="w3-row-padding">
   <div class="w3-half">
      <label class="w3-label"> Name</label>
      <input class="w3-input" type="text" ng-model="newPlayer.name"  ng-minlength='4' required> 
    </div>
    <button class="w3-green w3-btn" ng-click="addPlayer()">Add Player</button>
    </div>
   </form>

   <div ng-messages="playersForm.name.$error">
     <p ng-message="minlength">The player name is too short.</p>
     <p ng-message="required">The player name is required.</p>
 </div>

   <table border="1" class="w3-table w3-half" >
   <thead>
      <tr>
         <th>Name</th>
         <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="player in players">
         <td ng-bind="player.name"></td>
         <td><button class="w3-red w3-btn" ng-click="removePlayer($index)">Remove Player</button></td>
      </tr>
      </tbody>
   </table>
 
</div>